*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: #dccd25;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}
.board{
    height: 600px;
    width: 600px;
    background: #178ccf;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}
.box1{
   border: solid 2px black;
   background: red;
}
.box2{
       border: solid 2px black;
       background: white;
}