*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* body{
    background: #01374b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}*/
.box{
    background: #01374b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
                background: #02796b;
                height: 600px;
                width: 600px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.red{
    background: #f00a0a;
}
.white{
    background: #fae8e8;
}
    
