*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: #0fc5d2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background: #c71515;
    height: 200px;
    width: 200px;
    /* box-shadow:10px 10px blue ; */
    box-shadow:10px 10px 10px 30px blue ; 
}