*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: #a15813;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background: #036f7d;
    height: 500px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    gap: 10px;
    padding: 10px;
}
.Header{
    background: #f3d408;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}
.Sidebar{
    background: #0d9760;
    grid-row-start: 2;
    grid-row-end: 4;
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.Content1{
    background: rgb(14, 142, 63);
    grid-column-start: 2;
    grid-column-end: 5;
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.Content2{
    background: rgb(233, 73, 9);
    grid-column-start: 2;
    grid-column-end: 3;
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.Content3{
    background: rgb(4, 92, 51);
    grid-column-start: 3;
    grid-column-end: 5;
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.Footer{
    background: #035f0b;
    grid-column-start: 1;
    grid-column-end: 5;
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}