*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: #050000;
}
.container{
    display: grid;
    /* grid-template-columns:   200px  200px  ; */
    /* grid-template-rows: 200px 200px; */
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr  1fr ;
    background: #b57601;
    gap: 10px;
    padding: 10px;
    height: 400px;
    width: 400px;
    margin: 10px;
}
.First{
    background: #0c64a8;
     
}
.Second{
    background: #08a39e;
}
.Third{
    background: #588204;
}
.Fourth{
    background: #d20333;
}