*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.box{
    background: #d57a20;
    /* height: 400px; */
    width: 400px;
    padding: 60px;
    border-radius: 20px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #055cc6;
} 
label{
    font-size: 25px;
    font-weight: 600;
    /* background: #ec6b6b; */
    margin-bottom: 5px;
    color: #f70505;
}
input{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}
button{
    /* display: block; */
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
}
button{
    color: rgb(7, 103, 229);
    border-radius: 30px;
}