*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    height: 400px;
    width: 400px;
    background: #e1ec16;
    border-radius: 50%;
    box-shadow: 0px 0px 40px 40px rgb(214, 2, 2);
}

